<div class="container mx-auto p-4">
  <button 
    class="bg-blue-500 text-white py-2 px-4 rounded mb-4"
    (click)="toggleForm()">
    {{ showForm ? 'Hide Add Customer' : 'Show Add Customer' }}
  </button>

  <div *ngIf="showForm" class="mb-4">
    <app-customer-form 
      [customer]="selectedCustomer" 
      (formSubmitted)="onFormSubmitted($event)">
    </app-customer-form>
  </div>

  <app-customer-list 
    [customers]="customers"
    (editCustomer)="onSelectCustomer($event)"
    (deleteCustomer)="deleteCustomer($event)">
  </app-customer-list>

 
  <div class="flex justify-center mt-4">
    <button 
      class="bg-gray-500 text-white py-2 px-4 rounded mr-2" 
      (click)="prevPage()" 
      [disabled]="currentPage === 1">
      Previous
    </button>
    <button 
      class="bg-gray-500 text-white py-2 px-4 rounded" 
      (click)="nextPage()" 
      [disabled]="currentPage * pageSize >= totalCustomers">
      Next
    </button>
  </div>


  <div *ngIf="errorMessage" class="text-red-500 mt-4">{{ errorMessage }}</div>
</div>
