# Ignore Visual Studio and .NET build files
.vscode/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
bin/
obj/

# ASP.NET specific files
appsettings.*.json
appsettings.json

# Entity Framework
Migrations/

# Database files
*.mdf
*.ldf
*.sqlite
*.db

# Logs and temporary files
*.log
logs/
temp/
*.tmp

# Rider and JetBrains specific files
.idea/
*.sln.iml

# MacOS, Linux, and Windows system files
.DS_Store
Thumbs.db
*.swp
